.home {
    box-sizing: border-box;
    .header {
        padding: 16px;
        background-color: $brand-01;
        color: white;
        .highlighted {
            font-weight: 700;
            font-style: italic;
        }

        .link-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            .link {
                color: $brand-02;
                text-decoration: none;
                float: right;
                font-weight: 300;
            }

            .arrow-icon {
                font-size: 26px;
                margin-left: 24px;
            }
        }

        p {
            margin-bottom: 0;
            line-height: 28px;
        }

        h1 {
            font-family: 'PT Mono', monospace;
            font-weight: 400;
            margin-top: 32px;
        }
    }

    .works {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@include media-breakpoint-up(sm) {
    .home {
        .works {
            grid-template-columns: repeat(2,1fr) !important;
            justify-items: center;
        }
    }
}
@include media-breakpoint-up(md) {
    .home {
        .works {
            grid-template-columns: repeat(3,1fr) !important;
            justify-items: center;
        }
    }
}
@include media-breakpoint-up(lg) {
    .home {
        .works {
            grid-template-columns: repeat(4,1fr) !important;
            justify-items: center;
        }
    }
}
@include media-breakpoint-up(xl) {
    .home {
        .works {
            grid-template-columns: repeat(5,1fr) !important;
        }
    }
}
